<p>
  <strong>What is TeXnote?</strong><br>
  TeXnote is a quick way to share beautifully typeset mathematics. Think
  <a href="http://ipython.org/notebook.html">IPython notebooks</a>, but for TeX or LaTeX.
  The standard LaTeX math mode commands are supported for both inline and displayed equations.
  The AMSmath and AMSsymbol libraries are also available. Text is typeset in Computer Modern,
  as is standard in LaTeX documents. Suitable kerning and ligatures should be used, but this
  is dependant on your device and browser.
</p>

<p>
  <strong>What isn't TeXnote?</strong><br>
  TeXnote cannot compile and does not recognise entire LaTeX documents. Furthermore, many
  LaTeX commands cannot be used such as those for text formatting (e.g. <code>\emph{}</code>)
  or inserting images, though they may be supported in the future.
</p>
<p>
  For now, we want to keep notes clean, simple and accessible.
</p>
<p>
  That said, if you are looking for a fully-featured, online, collaborative LaTeX editor
  be sure to check out <a href="https://www.sharelatex.com/">ShareLaTeX</a>.
  They are awesome!
</p>

<p>
  <strong>Contact</strong><br>
  If you have any enquiries or problems, feel free to email
  <a href="mailto:contact@texnote.com">contact@texnote.com</a>.
  Be sure to tell us any features you would really like to see!
</p>
<p>
  If you would like to contribute to TeXnote, welcome aboard! TeXnote is completely 
  open-source. Just head over to the <a href="https://bitbucket.org/texnote">repository</a>
  to find out more.
</p>
