<div class="row marketing">
  <p>
    more text more text more text
    more text more text more text
    more text more text more text
    more text more text more text
    more text more text more text
    more text more text more text
    hello there <span mathjax-bind="\frac{1}{2}"></span> sup yo
    more text more text more text
    more text more text more text
    more text more text more text
    more text more text more text
    more text more text more text
    more text more text more text
    more text more text more text
    more text more text more text
  </p>

  <p mathjax-bind="\displaystyle \int^1_0 f(x) \; dx"></p>

  <p>
    more text more text more text
  </p>
</div>
