<p>This is the note view.</p>

this page will have:

header (most of the time hidden or faded, until mouse over)
formatting controls
contenteditable area
link to help page -- we need a help page or a simple guide on the home page

<scribe></scribe>
